@media (min-width: 1920px){
    .content {
        width: 1920px;
        margin: 0 auto;
    }
}
body {
    background-color: #000000;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    font-family: Arial, Verdana, sans-serif;
    
}
h3 {
    font-family: fantasy;
    font-style: oblique;
    font-weight: bolder;
    font-size: 200%;
    color: whitesmoke;
}

h4 {
    font-family: monospace;
    color: whitesmoke;
}
p {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    line-height: 120%;
}

.box {
    background-color: #3B363F;
    padding: 0.6em;
    border-radius: 4px;
    box-shadow: 0 5px 10px #1D1821;
}

nav,
nav ul,
nav li {
    margin: 0;
    padding: 0;
    border: 0;
}
nav ul {
    width: 10em;
    padding: 0.5em;
    background-color: #000000;
    list-style-type: none;
}
nav a:focus,
nav a:hover,
nav a:active {
    color: #242127;
    background-color: #322F35;
}
nav a {
    display: block;
    padding: 0.4em;
    text-decoration: none;
    font-family: monospace;
    font-size: 150%;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 5px 10px #1D1821 inset;
    color: #1D1821;
    background-color: #403B44;
}

#menu {
    margin-top: -2.5em;
    margin-bottom: 4em;
}

#story {
    float: right;
    text-align: center;
    margin-left: 15%;
}

.picturediv {
    margin-left: 12em;
    width: 30%;
}
.picturediv img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}



.characterview {
    margin-left: 20%;
}